h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
li {
  display: flex;
}

a:not([role="button"]) {
  position: relative;
  color: rgb(84 84 84);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.4s ease;
}
a:hover {
  color: #290c00;
}
a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 0 0 0 #290c00;
  transition: box-shadow 0.4s ease, color 0.4s ease;
}
a:hover::before {
  content: "";
  box-shadow: inset 100px 0 0 0 #290c00;
}
